body{
	background-color: #8B8878;
	color: #000080;
	font-size: 15px;
	margin-left: 5px;
	margin-top: 10px;
	font-family: arial;
	text-align: justify;

	}

span{
	color: #FFFF00;
	}
h1 {
	text-align: right;
	text-transform: uppercase;
		font-size: 30px;
}
